@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-ut-burntorange: #bf5700;
}

body {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  min-height: 100svh;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.full-width {
  margin-inline: auto;
  padding-inline: 5rem;
  min-width: min(96rem, 100%);
}
